.header {
  width: 100%;
  height: 100px;
}

.headerLeft {
  position: absolute;
  width: 316px;
  height: 48px;
  left: 122px;
  top: 92px;
}

.pizzaIcon {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 77px;
  top: 14px;
}

.text1 {
  position: absolute;
  left: 130px;
  top: 0px;

  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 5px;
  letter-spacing: 0.01em;
  text-transform: uppercase;

  color: #181818;
}

.text2 {
  position: absolute;
  width: 261px;
  height: 19px;
  left: 130px;
  top: 20px;

  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  color: #7B7B7B;

}

.headerRight {
  position: absolute;
  width: 150px;
  height: 50px;
  right: 131px;
  top: 95px;

  background: #FE5F1E;
  border-radius: 30px;
}

.text3 {
  position: absolute;
  width: 43px;
  height: 19px;
  left: 23px;
  top: 0px;

  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  

  color: #FFFFFF;

}

.line {
  position: absolute;
  width: 1px;
  height: 25px;
  left: 76px;
  top: 10px;

}

.text4 {
  position: absolute;
  left: 94px;
  right: 41px;
  top: 0px;
  bottom: 24px;

  color: #FFFFFF;

}
.box{
top: 110px;
font-family: 'Proxima Nova';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;

}